body {
    background-color: #151226;
}

#main-nav {
    background-color: #C9082A;
    border-radius: 30px;
    width: 40%;
    float: right;
}

#main-nav a {
    font-family: Impact, fantasy;
}

#main-nav ul {
    text-align: center;
}

#main-nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    width: 11%;
    padding: 12px;
}

#main-nav li a {
    text-decoration: none;
    color: black;
}

#main-nav li:hover {
    background-color: #17408B;
    border-radius: 30px;
    text-decoration: underline;
}

#main-nav li:hover a {
    color: aliceblue;
}

#main_header .title_h1 {
    display: inline;
    margin-right: 10px;
}

#ballspin {
    animation: spin 2s infinite linear;
    transform-origin: center;
    display: inline-block;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.search-section {
    background-color: #1D428A;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: white;
}

.search-section h2 {
    margin-bottom: 10px;
}

.search-section input[type="text"],
.search-section input[type="date"],
.search-section button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-section button {
    cursor: pointer;
    background-color: #C9082A;
    color: white;
    transition: background-color 0.3s ease;
}

.search-section button:hover {
    background-color: #17408B;
}

.search-results {
    margin-top: 20px;
}

.search-container {
    display: flex;
    justify-content: space-between;
}

.search-section {
    width: 47%;
    margin-bottom: 20px;
}

.search-table {
    width: 49%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1D428A;
    border-radius: 2px;
    overflow: hidden;
    color: white;
}

.search-table th,
.search-table td {
    padding: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
}
h2 {
    color: yellow;
}

table {
    color: white;
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #1D428A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {    
    background-color: #7f73f0;
}
.table-container {
    display: flex;
    justify-content: space-between;
}

.table {
    padding: 10px;
    width: 48%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1D428A;
    border-radius: 6px;
    overflow: hidden;
    color: white;
}

